<section #homeSection class="home hidden" id="home">
  <div class="home-content">
    <h1>Hi, I'm <span>Antun Tkalčec</span></h1>
    <div class="text-animate">
      <h3>Fullstack Developer</h3>
    </div>
    <p>
      I'm a Fullstack Software Developer with a passion for mobile and web app development. This simple 
      website should give you some insight into my interests, hobbies, education and work experience.
    </p>

    <div class="btn-box">
      <a href (click)="scrollToContact($event)" class="btn">Hire me</a>
      <a routerLink="/cv" class="btn">My CV</a>
    </div>
  </div>

  <div class="home-sci">
    <a href="https://github.com/AntunTkalcec"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/antuntkalcec"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://wellfound.com/u/antun-tkalcec"><i class="fa-solid fa-globe"></i></a>
  </div>
</section>


<section #aboutSection class="about hidden" id="about">
  <h2 class="heading">About <span>Me</span></h2>

  <div class="about-img">
    <img src="/assets/images/Me.png" alt="Me">
  </div>

  <div class="about-content">
    <h3>Fullstack Software Developer</h3>
    <p>I'm a fullstack developer, passionate about mobile and web development. I'm proficient in .NET (Xamarin.Forms, .NET MAUI, ASP.NET Core, Blazor WebAssembly etc.), Angular, 
      HTML and CSS (+ Bootstrap and Tailwind). <br>
      I'm highly ambitious, very quick to learn, and love overcoming new challenges.<br>
      I'd love to discuss more in an interview format.
    </p>
  </div>
</section>

<section #projectsSection class="projects hidden" id="projects">
  <h2 class="heading">My <span>projects</span></h2>

  <div class="projects-row">
    <div *ngFor="let project of projects" class="projects-column hidden">

      <h3 class="title">{{project.title}}</h3>

      <p>{{project.description}}</p>

      <div class="btn-container">
        <a *ngIf="project.playStoreLink" [href]="project.playStoreLink" class="btn hvr-grow"><i
            class="fa-brands fa-google-play"></i></a>
        <a [href]="project.gitHubLink" class="btn hvr-grow"><i class="fa-brands fa-github"></i></a>
      </div>

    </div>
  </div>

  <h5 class="smallheading">Make sure to check out my <a href="https://github.com/AntunTkalcec" class="a">GitHub profile</a> to see what else I've worked on.</h5>
</section>

<section #contactSection class="contact hidden" id="contact">
  <h2 class="heading">Contact <span>me!</span></h2>

  <div class="contact-container">
    <h5><span>Email: </span><a href="mailto:antuntkalcec@protonmail.com" class="a">antuntkalcec@protonmail.com</a></h5>
    <h5><span>Phone: </span><br>+385 91 786 4625</h5>
    <h5><span>LinkedIn: </span><br><a href="https://www.linkedin.com/in/antuntkalcec" class="link"><i class="fa-brands fa-linkedin"></i></a></h5>
  </div>
</section>