.example-spacer {
  flex: 1 1 auto;
}

a {
  font-size: xx-large;
  margin: 0px 20px 0px 20px;
  transition: transform .3s;
}

a i {
  scale: 1 !important;
}

i {
  margin-right: 3px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
  transform: scale(1.3);
}

/* selected link */
a:active {
  color: white;
}

.navbar {
  background: linear-gradient(45deg, #673ab7, #d9048e);
}

.name {
  color: white;
}

.menuIcon {
  color: white;
}

@media (max-width: 345px) {
  a {
    margin: 0px 5px 0px 5px !important;
  }
}