<header class="header">
    <a href (click)="scrollToSection('homeSection', $event)" class="logo active" id="home">Antun.</a>

    <div class="fa-solid fa-bars" id="menu-icon"></div>
    <nav class="navbar">
        <a href (click)="scrollToSection('aboutSection', $event)" id="about">About me</a>
        <a href (click)="scrollToSection('projectsSection', $event)" id="projects">My projects</a>
        <a href (click)="scrollToSection('contactSection', $event)" id="contact">Contact</a>
        <a routerLink="/cv">My CV</a>

        <span class="active-nav"></span>
    </nav>
</header>