<div class="row text-center align-items-center h-100">
  <div class="col col-sm-12 col-lg-6">

    <div class="welcomeContainer fs-1 lh-base">
      WELCOME
    </div>

    <div class="nameContainer fs-2 lh-base">
      My name is Antun.
    </div>

    <div class="info1Container fs-3 lh-base">
      I'm a student at Faculty of Organization and Informatics' "Data bases and knowledge bases"
      graduate study programme.
    </div>

    <div class="info2Container fs-4 lh-base">
      This simple website should give you some insight into my interests, hobbies, education,
      projects and
      <a>work experience</a>.
    </div>

  </div>

  <div class="col col-sm-12 col-lg-6">
    <img src="assets/images/Me.png" class="image">
  </div>

</div>