a {
  color: white;
}

.image {
  max-width: 30%;
  max-height: 30%;
  margin-top: 3rem;
}

.warehomeImg {
  scale: 1.5;
}

@media (max-width: 425px) {
  .image {
    max-width: 20%;
    max-height: 20%;
    margin-top: 2rem;
  }
  .warehomeImg {
    max-width: 100% !important;
    width: 200px !important;
    height: 50px !important;
    scale: 1;
  }
}

.descHelperContainer {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
}
.projectTitle {
  font-weight: bolder;
  color: white;
  margin: 10px;
  font-size: xx-large;
}

.projectDescription {
  font-weight: bold;
  color: white;
  font-size: large;
  margin: 10px;
  flex: 100%;
}

.helper {
  color: white;
  font-weight: bold;
  flex: 100%;
  align-self: end;
}

.appear {
  animation: 1s ease-out 0s 1 appear;
}

@media (max-width: 400px) {
  .projectTitle {
    font-size: large !important;
  }
}

@media (max-width: 375px) {
  .projectDescription {
    font-size: medium !important;
  }
}
@media (max-width: 315px) {
  .projectDescription {
    font-size: small !important;
  }
}
